.THIS h3 {
  color: #bb892c;
  font-weight: bold;
}

.THIS .header {
  color: #bb892c;
  font-weight: bold;
}

.THIS .slds-form-element__label {
  color: black;
  font-weight: bold;
}

.THIS .slds-tabs_default__link {
  text-transform: capitalize;
  font-size: 16px;
  color: #bb892c;
  font-weight: bold;
}

.THIS .slds-input {
  border-style: dashed;
  font-weight: bold;
}

.THIS .textInput {
  color: black;
  font-weight: bold;
}

.THIS .slds-button {
  color: Black;
  background-color: #bb892c;
  border: black;
}

.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}
.THIS .large {
    height: 200px;
}
.THIS .x-large {
    height: 300px;
}
.THIS .custom-box {
    text-align: center;
    background-color: #f4f6f9;
    padding: 1rem;
    border: 1px solid #d8dde6;
}



.THIS .divTable{
	display: table;
	width: 100%;
    border: 2px solid #37380A;
}
.THIS .divTableRow {
	display: table-row;
    border: 2px solid #37380A;
}

.THIS .divTableBody {
	display: table-row-group;
}

.THIS .td {
    border-left: 2px solid #37380A;
    border-right: 2px solid #37380A;
}