.custom-container{
	color : black;
}

.small-header-font th {
    white-space: normal !important;   /* enables wrap */
    word-break: break-word;
    text-align: center;
    line-height: 1.2;
}
.slds-table th {
    white-space: normal !important;
}


.custom-modal-width {
    max-width: 80rem;      
    width: 80%;            
}
.exampleHolder {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.spinner-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.4);
    z-index: 9999; /* Above modal */
}

.totals-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 14px;
    margin-bottom: 10px;
}

.full-width {
    width: 100%;
}

.full-width lightning-file-upload {
    display: block;
    width: 100%;
}

.wrap-link {
    white-space: normal;      /* allow wrapping */
    word-break: break-word;   /* break long words */
    overflow-wrap: break-word;
    display: inline-block;    /* important for wrapping */
    max-width: 100%;
}
.modal-scroll {
    max-height: 65vh;
    overflow-y: auto;
}

.slds-modal__container {
    height: 90vh;
}