.THIS h3{
    color: #bb892c; 
    font-weight: bold;
        }
.THIS .slds-form-element__label {
    color: black;
    font-weight: bold;
 }
.THIS .slds-tabs_default__link{
text-transform: capitalize;
        font-size: 16px;
    color: #bb892c; 
     font-weight: bold
}
.THIS .sizeButton{   
    font-size: 15px;
    width: 200px;
    height: 50px;
}

.THIS .textInput{
    color: black;
    font-weight: bold;
 }
.THIS .slds-button{
    color: Black; background-color:#bb892c; border: black;
        }

.THIS .slds-required
{
    display: none !important;
}

.THIS .asterisk {
    color: red;
}