.THIS h1{
    color: #bb892c; 
    font-weight: bold;
    font-size:18px;
}
.THIS .slds-button_base {
    color:black;
}
.THIS vidBack {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}