.THIS .asterisk {
    color: red;
}

.THIS .slds-required
{
    display: none !important;
}

.THIS .sizeButton
{   
    font-size: 16px;
    width: 260px;
    height: 50px;
    color: Black; background-color:#bb892c; border: black;
}


.THIS .textInput{
    color: black;
    font-weight: bold;
 }

.THIS .slds-tabs_default__link{
text-transform: capitalize;
        font-size: 16px;
    color: #bb892c; 
     font-weight: bold
}