.THIS .changeMe .slds-input{
    border-color: darkorange;
   outline-width: thick;
   width: -webkit-fill-available;
}
.THIS .slds-required{
    display: none;
}
.THIS .slds-input{
    width: -webkit-fill-available;
}
.THIS.slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
  }
.THIS .remarksCss .slds-input {
    width: 25%;
    padding: 2%;
}
.THIS .label-hidden > label {
    display: none;
}