name: Deployment

on:
  pull_request:
    types:
      - closed
    branches:
      - main
      - fullcopy
    paths:
      - 'force-app/**'

jobs:
  deploy-changes:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    env:
      SF_DISABLE_TELEMETRY: true
    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: 'Checkout source code'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Install Salesforce CLI
        run: |
          npm install --global @salesforce/cli@latest
      - name: 'Authenticate with Salesforce'
        run: | 
          TARGET_BRANCH=${{ github.event.pull_request.base.ref }}
          if [ "$TARGET_BRANCH" = "fullcopy" ]; then
            echo "${{ secrets.JWT_SERVER_KEY }}" > private-key.pem
            sf org login jwt --client-id "${{ secrets.CONSUMER_KEY_FULLCOPY }}" --jwt-key-file private-key.pem --username "${{ secrets.DEPLOYMET_USERNAME_FULLCOPY }}" --instance-url "${{ secrets.INSTANCE_URL_FULLCOPY }}"
            TARGET_ORG="${{ secrets.DEPLOYMET_USERNAME_FULLCOPY }}"
          elif [ "$TARGET_BRANCH" = "main" ]; then
            echo "${{ secrets.SALESFORCE_PRIVATE_KEY_PRODUCTION }}" > private-key.pem
            sf org login jwt --client-id "${{ secrets.SALESFORCE_CLIENT_ID_PRODUCTION }}" --jwt-key-file private-key.pem --username "${{ secrets.SALESFORCE_USERNAME_PRODUCTION }}" --instance-url "${{ secrets.SALESFORCE_LOGIN_URL_PRODUCTION }}"
            TARGET_ORG="${{ secrets.SALESFORCE_USERNAME_PRODUCTION }}"
          else
            echo "Invalid target branch: $TARGET_BRANCH"
            exit 1
          fi
          echo "TARGET_ORG=$TARGET_ORG" >> $GITHUB_ENV
      - name: 'Deploy Changed Files'
        id: deploy-changed-files
        run: |
          git fetch --tags origin
          COMPARE_REF=${{ github.event.pull_request.base.sha }}

          echo "Comparing changes from $COMPARE_REF to HEAD"

          CHANGED_FILES=$(git diff --name-only $COMPARE_REF ${{ github.event.pull_request.head.sha }} | grep '^force-app/' || true)

          if [ -z "$CHANGED_FILES" ]; then
            echo "No metadata changes detected in force-app/"
            exit 78
          fi

          echo "Changed files:"
          echo "$CHANGED_FILES"
          CHANGED_PATHS=$(echo "$CHANGED_FILES" | tr '\n' ' ' | sed 's/,$//')
          
          
          sf project deploy start --target-org $TARGET_ORG --source-dir $CHANGED_PATHS --ignore-conflicts
